.popup {
  display: block;
  position: absolute;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  max-width: 100%;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}